#tabSiteMap {
    width: 700px;
    margin: 30px 0 0;
}
#tabSiteMap td {
    text-align: right;
    vertical-align: top;
}
#tabSiteMap td a {
    font-size: 18px;
    font-weight: bolder;
    color: #373737;
}
#tabSiteMap a:hover {
    text-decoration: none;
}
#tabSiteMap td.right  {
    text-align: right;
}
#tabSiteMap td.left  {
    text-align: left;
    width: 400px;
}
#tabSiteMap td.left a {
    font-size: 14px;
    font-weight: bolder;
    color: #5F6A7E;
}
#tabSiteMap td.left hr {
    width: 100%;
    color: #5F6A7E;
    margin-top: 21px;
}